

<div class="" style="padding:2%;background-color: aqua;">
  <h1 style="font-size:50px;font-weight:50">AU Management System</h1>
  <p style="font-size:19px;">Management of Opportunity , Candidate , Course etc.</p>
<button (click)="login()">Login</button>  
</div>


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Freckle+Face&family=New+Tegomin&display=swap" rel="stylesheet">
<!-- <div class="" style="padding:2%;background-color: aqua;">
  <h1 style="font-size:50px;font-weight:50">Candidate Management</h1>
  <p style="font-size:19px;">The language for building web pages</p>
  </div> -->