.center
{
    /* margin: auto; */
    width:99%;
    align-self: center;
    margin: 200px;
}
.harish
{
    align-self: center;
    margin-left:400 px;
}
.title
{
    align-self: center;
    text-align: center;
}