
<html>
<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #68a1e2;
  padding: 20px 10px;
}
</style>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <div class="harish">
        <div class="header">
            <b style="font-size: 40px;">Welcome to Trends Page</b>
        </div>
      
        <div class="center">
            <h1>
                Candidates per skill 
            </h1>
            <br>
            <br>
            <div class="col">
                <div class="row">
                   
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="skill"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel2"
                        [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>
                    
                </div>
            </div>
            </div>
            
            <div class="center">
            <h1>
                Candidates per Job Description 
            </h1>
<br><br><br><br>
            <div >--
                <div >

                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="job"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel2"
                        [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>

                </div>
                </div>
                </div>
               
            <br>
            <br>
            <br>
            <div class="center">
            <h1>
                Candidates per Location
            </h1>
<br><br><br><br>
            <div >
               <div >
<ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel1"
                        [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>


                </div>
                </div>


                </div></div>
        
</body>

</html>
            
