<style>

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #68a1e2;
  padding: 20px 10px;
}


.topnav {
  overflow: hidden;
  width: 100%;
  background-color: #333;
}

</style>
<!-- card-header bg-info -->

<div class="header" id="header"> <b style="font-size: 40px;">Edit Candidate</b></div>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
<div class="container">

    <form #userForm="ngForm">


        <div class="form-group">
            <label>Name</label>
            <input type="text" readonly #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched"
                class="form-control" value="some" name="firstName" [(ngModel)]="userModel.name">
            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is
                required</small>
        </div>

        <div class="form-group">
            <label>Email ID</label>
            <input type="text" readonly  #email="ngModel"
                [class.is-invalid]="email.invalid &&  email.touched" class="form-control" name="email"
                value="{{userModel.email}}" [(ngModel)]="userModel.email">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">email is invalid</small>
        </div>
        
        <div class="form-group">
            <label>Location</label>
            <select required #location="ngModel" [class.is-invalid]="location.invalid && location.touched"
                class="" [(ngModel)]="userModel.location" name="location">
                <option *ngFor="let l of Loc">{{l}}</option>
            </select>
            <small class="text-danger" [class.d-none]="location.valid || location.untouched">Please specify the
                location</small>
        </div>

        <div class="form-group">
            <label>Feedback</label>
            <input type="text" required #feedback="ngModel" [class.is-invalid]="feedback.invalid && feedback.touched"
                value="{{userModel.feedback}}" class="form-control" name="feedback" [(ngModel)]="userModel.feedback" >
            <small class="text-danger" [class.d-none]="feedback.valid || feedback.untouched">Feedback is
                
                required</small>
        </div>

        <div class="form-group">Skill Set<br>
 <input type="checkbox" id="cpp" value="cpp" (change)="cppf()">C++  
<input type="checkbox" id="java" value="java" (change)="j()"> Java
  <input type="checkbox" id="angular" value="angular" (change)="ang()">Angular  
 <input type="checkbox" id="react" value="react" (change)="re()"> React

<input type="checkbox" id="python" value="python" (change)="py()">Python  
<input type="checkbox" id="javascript" value="javascript" (change)="js()">JavaScript
 <input type="checkbox" id="android" value="android" (change)="an()"> Android Devolopment
        </div>
        <div class="form-group">
            <label>Tentative Joining Data</label>
            <input type="date" readonly #joindate="ngModel" [class.is-invalid]="joindate.invalid && joindate.touched"
                class="form-control" value="{{userModel.joindate}}" name="joindate" [(ngModel)]="userModel.joindate">
           
        </div>
        <div class="form-group">
            <label>Institution</label>
            <input type="text" readonly #institution="ngModel" [class.is-invalid]="institution.invalid && institution.touched"
                class="form-control"  value="{{userModel.institution}}" name="institution" [(ngModel)]="userModel.institution">
            <small class="text-danger" [class.d-none]="institution.valid || institution.untouched">Feedback is
                required</small>
        </div>

        <div class="form-group">
            <label>Contact Number</label>
            <input type="tel" required #contactNumber="ngModel" pattern="^\d{10}$"
                [class.is-invalid]="contactNumber.invalid && contactNumber.touched" class="form-control"
                name="contactNumber" value="{{userModel.contact}}" [(ngModel)]="userModel.contact">
            <!--<small class="text-danger" [class.d-none]="contactNumber.valid || contactNumber.untouched">Contact number is required and must be of 10 digits</small>-->
            
        </div>


        <div class="form-group">
            <label>Job Description</label>
            <input type="text" value="{{userModel.jobDescription}}">
        </div>
        <div class="col text-center">
            <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit"
                (click)="enrollNow()">Submit Details</button>
        </div><br>

       

      </form>
      </div>
